<!-- Cria as abas no modelo-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="crianca-tab" data-toggle='tab' href="#crianca" role="tab" aria-controls="crianca"
            aria-selected="true">Dados da Crianca</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="localizacao-tab" data-toggle='tab' href="#localizacao" role="tab"
            aria-controls="localizacao" aria-selected="false">Dados de Localização</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="responsavel-tab" data-toggle="tab" href="#responsavel" role="tab"
            aria-controls="responsavel" aria-selected="false">Dados do Responsavel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="criterios-tab" data-toggle="tab" href="#criterios" role="tab" aria-controls="criterios"
            aria-selected="false">Dados de Seleção</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cmei-tab" data-toggle="tab" href="#cmei" role="tab" aria-controls="cmei"
            aria-selected="false">Dados sobre CMEI</a>
    </li>
</ul>

<!-- Cria o formulario com os campos dentro das abas-->
<form class="needs-validation" [formGroup]="form">

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="crianca" role="tabpanel" aria-labelledby="crianca-tab">

            <div class="form-group">
                <label class="mt-3">Nome da Crianca</label>
                <input required [ngClass]="cssErro('nomeCrianca')" formControlName="nomeCrianca" type="text"
                    id="nomeCrianca" class="form-control form-control-lg" placeholder="">
                <div *ngIf="validarCampo('nomeCrianca')" class="alert alert-danger">
                    O nome do aluno é obrigatorio
                </div>
            </div>

            <div class="form-group">
                <label class="mt-3">Genero</label>
                <select required formControlName="sexoCrianca" name="sexoCrianca" id="sexoCrianca"
                    class="form-control form-control-lg" placeholder="">
                    <option value=1>Masculino</option>
                    <option value=0>Feminino</option>
                </select>
                <div *ngIf="validarCampo('sexoCrianca')" class="alert alert-danger">
                    O Genero é obrigatorio
                </div>
            </div>

            <div class="form-group">
                <label class="mt-3">Data de Nascimento</label>
                <input required type="date" formControlName="nascimentoCrianca" name="nascimentoCrianca"
                    id="nascimentoCrianca" class="form-control form-control-lg" />
                <div *ngIf="validarCampo('nascimentoCrianca')" class="alert alert-danger">
                    Entre com uma data valida
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="mt-3">Registro</label>
                        <input required [ngClass]="cssErro('registroCrianca')" formControlName="registroCrianca"
                            type="text" id="registroCrianca" class="form-control form-control-lg" placeholder="">
                        <div *ngIf="validarCampo('registroCrianca')" class="alert alert-danger">
                            O registro é obrigatorio
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label class="mt-3">Livro</label>
                        <input required [ngClass]="cssErro('livroCrianca')" formControlName="livroCrianca" type="text"
                            id="livroCrianca" class="form-control form-control-lg" placeholder="">
                        <div *ngIf="validarCampo('livroCrianca')" class="alert alert-danger">
                            O livro é obrigatorio
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label class="mt-3">Folha</label>
                        <input required [ngClass]="cssErro('folhaCrianca')" formControlName="folhaCrianca" type="text"
                            id="folhaCrianca" class="form-control form-control-lg" placeholder="">
                        <div *ngIf="validarCampo('folhaCrianca')" class="alert alert-danger">
                            A folha é obrigatoria
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label class="mt-3">CPF</label>
                        <input required [ngClass]="cssErro('cpfCrianca')" formControlName="cpfCrianca" type="text"
                            id="cpfCrianca" class="form-control form-control-lg" placeholder="">
                        <div *ngIf="validarCampo('cpfCrianca')" class="alert alert-danger">
                            O CPF é obrigatorio
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade show" id="localizacao" role="tabpanel" aria-labelledby="home-tab">

            <app-endereco-form (adicionou)="getEnderecoId()"></app-endereco-form>

        </div>

        <div class="tab-pane fade show" id="responsavel" role="tabpanel" aria-labelledby="home-tab">

            <app-responsavel-main></app-responsavel-main>

        </div>

        <div class="tab-pane fade show" id="criterios" role="tabpanel" aria-labelledby="home-tab">

            <app-criterio-form></app-criterio-form>

        </div>

        <div class="tab-pane fade show" id="cmei" role="tabpanel" aria-labelledby="home-tab">

            <div class="container mt-5">

                <div class="col">
                    <div class="form-group">
                        <label>CMEI Opção 1</label>
                        <select required formControlName="cmeiOpcao1Crianca" name="cmeiOpcao1Crianca"
                            id="cmeiOpcao1Crianca" class="form-control form-control-lg" placeholder="">
                            <option *ngFor="let cmei of cmeiList" value={{cmei.id}}>{{cmei.nome}}</option>
                        </select>
                        <div *ngIf="validarCampo('cmeiOpcao1Crianca')" class="alert alert-danger">
                            Por favor escolha um CMEI
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label>CMEI Opção 2</label>
                        <select required formControlName="cmeiOpcao2Crianca" name="cmeiOpcao2Crianca"
                            id="cmeiOpcao2Crianca" class="form-control form-control-lg" placeholder="">
                            <option *ngFor="let cmei of cmeiList" value={{cmei.id}}>{{cmei.nome}}</option>
                        </select>
                        <div *ngIf="validarCampo('cmeiOpcao2Crianca')" class="alert alert-danger">
                            Por favor escolha um CMEI
                        </div>
                    </div>
                </div>
            </div>

            <button [disabled]="!this.form.valid" (click)="onSubmit()" class="btn btn-primary">Cadastrar</button>

        </div>

    </div>

    <button (click)="onEnderecoSubmit()">Test</button>
    <button (click)="log()">Log</button>

</form>