<form class="needs-validation" [formGroup]="form">

    <div class="form-group">
        <label class="mt-3">Nome do Responsavel</label>
        <input required [ngClass]="cssErro('nomeResponsavel')" formControlName="nomeResponsavel" type="text"
            id="nomeResponsavel" class="form-control form-control-lg" placeholder="">
        <div *ngIf="validarCampo('nomeResponsavel')" class="alert alert-danger">
            O nome do responsavel é obrigatorio
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="mt-3">Tipo</label>
                <select required [ngClass]="cssErro('tipoResponsavel')" formControlName="tipoResponsavel" type="text"
                    id="tipoResponsavel" class="form-control form-control-lg" placeholder="">
                    <option value="Pai">Pai</option>
                    <option value="Mae">Mae</option>
                    <option value="Avô">Avô</option>
                    <option value="Avó">Avó</option>
                    <option value="Avó">Tio</option>
                    <option value="Avó">Outro</option>
                </select>
                <div *ngIf="validarCampo('tipoResponsavel')" class="alert alert-danger">
                    O tipo do responsavel é obrigatorio
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label class="mt-3">CPF</label>
                <input required [ngClass]="cssErro('cpfResponsavel')" formControlName="cpfResponsavel" type="text"
                    id="cpfResponsavel" class="form-control form-control-lg" placeholder="">
                <div *ngIf="validarCampo('cpfResponsavel')" class="alert alert-danger">
                    O CPF do responsavel é obrigatorio
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="mt-3">Contato 1</label>
                <input [ngClass]="cssErro('telefone1Responsavel')" formControlName="telefone1Responsavel" type="text"
                    id="telefone1Responsavel" class="form-control form-control-lg" placeholder="">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="mt-3">Contato 2</label>
                <input [ngClass]="cssErro('telefone2Responsavel')" formControlName="telefone2Responsavel" type="text"
                    id="telefone2Responsavel" class="form-control form-control-lg" placeholder="">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="mt-3">Trabalho</label>
        <input required [ngClass]="cssErro('trabalhoResponsavel')" formControlName="trabalhoResponsavel" type="text"
            id="trabalhoResponsavel" class="form-control form-control-lg" placeholder="">
        <div *ngIf="validarCampo('trabalhoResponsavel')" class="alert alert-danger">
            O trabalho do responsavel é obrigatorio
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="mt-3">Renda</label>
                <input required [ngClass]="cssErro('rendaResponsavel')" formControlName="rendaResponsavel" type="text"
                    id="rendaResponsavel" class="form-control form-control-lg" placeholder="">
                <div *ngIf="validarCampo('rendaResponsavel')" class="alert alert-danger">
                    A renda do responsavel é obrigatoria
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="mt-3">Pensao</label>
                <input [ngClass]="cssErro('pensaoResponsavel')" formControlName="pensaoResponsavel" type="text"
                    id="pensaoResponsavel" class="form-control form-control-lg" placeholder="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="mt-3">Numero do titulo de Eleitor</label>
                <input [ngClass]="cssErro('numeroTituloResponsavel')" formControlName="numeroTituloResponsavel"
                    type="text" id="numeroTituloResponsavel" class="form-control form-control-lg" placeholder="">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="mt-3">Zona</label>
                <input [ngClass]="cssErro('zonaTituloResponsavel')" formControlName="zonaTituloResponsavel" type="text"
                    id="zonaTituloResponsavel" class="form-control form-control-lg" placeholder="">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="mt-3">Secao</label>
                <input [ngClass]="cssErro('secaoTituloResponsavel')" formControlName="secaoTituloResponsavel"
                    type="text" id="secaoTituloResponsavel" class="form-control form-control-lg" placeholder="">
            </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <button [disabled]="!this.form.valid" class="btn btn-primary mr-5" (click)="adicionarOnPressed()">Adicionar</button>
        <button class="btn btn-secondary mr-2">Cancelar</button>
    </div>
    <hr/>
</form>