<form class="needs-validation" [formGroup]="form">
    <h2>Dados do CMEI</h2>
    <div class="form-group">
        <label>Nome do Cmei</label>
        <input required [ngClass]="cssErro('nomeCmei')" formControlName="nomeCmei" type="text" id="nomeCmei"
            class="form-control form-control-lg" placeholder="">
        <div *ngIf="validarCampo('nomeCmei')" class="alert alert-danger">
            O nome do cmei é obrigatorio
        </div>
    </div>

    <div class="form-group">
        <label>Telefone</label>
        <input required [ngClass]="cssErro('telefoneCmei')" formControlName="telefoneCmei" type="text" id="telefoneCmei"
            class="form-control form-control-lg" placeholder="">
        <div *ngIf="validarCampo('telefoneCmei')" class="alert alert-danger">
            O nome telefone é obrigatorio
        </div>
    </div>
    <hr>
    <h2>Dados de Localização</h2>
    <app-endereco-form [form]="formEndereco"></app-endereco-form>
    <hr>
    <div class="d-flex flex-row-reverse">
        <button [disabled]="!this.formEndereco.valid || !this.form.valid" class="btn btn-primary m-2"
            (click)="onSubmit()" routerLink="/">Confirmar Cadastro</button>
    </div>
</form>