<form class="needs-validation" [formGroup]="form">

    <div class="form-group" >
        <label>Nome da Cidade</label>
        <input required [ngClass]="cssErro('nomeCidade')" formControlName="nomeCidade" type="text" id="nomeCidade" class="form-control form-control-lg"  placeholder="">
        <div *ngIf="validarCampo('nomeCidade')" class="alert alert-danger">
            O nome da cidade é obrigatorio
        </div>
    </div>
  
      <button [disabled]="!this.form.valid" (click)="onSubmit()" class="btn btn-primary" routerLink="/">Confirmar</button>
      <button class="btn btn-secondary ml-3" routerLink="/escola">Cancelar</button>
      
</form>

  
  
  
  
  
  
  
  